@tailwind base;
@tailwind components;
@tailwind utilities;

.body-childHome::-webkit-scrollbar {
  width: 0px;
}
.slider-thumb-audio::-webkit-slider-thumb {
  visibility: hidden;
  cursor: pointer;
}



/* Hiện thumb khi hover */
.slider-thumb-audio:hover::-webkit-slider-thumb {
  visibility: visible;
}